@{
    ViewBag.Title = "iMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank You for Contacting Us</h1>
<hr />
<div class="col-lg-5 col-md-push-1">
    <div class="col-md-12">
        <div class="alert alert-success">
            <strong><span class="glyphicon glyphicon-ok"></span>Success! Message sent.</strong>
        </div>
        <div class="alert alert-danger" style="display: none">
            <span class="glyphicon glyphicon-remove"></span><strong>Error! Please check all page inputs.</strong>
        </div>
    </div>
</div>
<br />
<br />
<br />
