@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("//blueimp.github.io/Gallery/css/blueimp-gallery.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap-image-gallery.min.css" rel="stylesheet" />
}

<h1>Gallery <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></h1><hr />
    
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="links">
    <a href="~/Content/images/DSC_0501.JPG" title="Prem Kaushal" data-gallery>
        <img src="~/Content/images/DSC_0501.JPG" alt="Prem Kaushal">
    </a>
    <a href="~/Content/images/corosal1.png" title="Prem Kaushal" data-gallery>
        <img src="~/Content/images/corosal1.png" alt="Prem">
    </a>
    <a href="~/Content/images/corosal2.png" title="Unique Personality and Educational Development Society" data-gallery>
        <img src="~/Content/images/corosal2.png" alt="UPEDS">
    </a>
</div>*@
<div id="links" class="row">
    <div class="col-xs-6 col-md-3">
        <a href="~/Content/images/DSC_0501.JPG" class="thumbnail" title="Prem Kaushal" data-gallery>
            <img src="~/Content/images/DSC_0501.JPG" alt="Prem Kaushal">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="~/Content/images/corosal1.png" class="thumbnail" title="Prem Kaushal" data-gallery>
            <img src="~/Content/images/corosal1.png" alt="Prem Kaushal">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a href="~/Content/images/corosal2.jpg" class="thumbnail" title="Unique Personality and Educational Development Society" data-gallery>
      <img src="~/Content/images/corosal2.jpg" alt="UPEDS">
    </a>
  </div>
</div>


<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="~/Scripts/bootstrap-image-gallery.min.js"></script>
