@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Seminars and Workshops <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></h1>
<hr/>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Positive Attitude: The Key to Peak Performance in Tough Times
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p>This highly motivational and entertaining seminar combines storytelling, humor, and motivation with specific action strategies that you can apply immediately to improve the quality of your personal and professional life. You will laugh, cry and think and come away from this motivational seminar with a renewed sense of hope, energy and inspiration.</p>
                <p>In this customized motivational seminar—delivered with an incredible level of passion and excitement—you will:</p>
                <ul>
                    <li>discover the power of a positive explanatory style</li>
                    <li>build positive relationships with others </li>
                    <li>take ownership and control of your </li>
                    <li>discover the power of starting every day with an attitude of gratitude </li>
                    <li>master the PIN technique to focus on the "good stuff" </li>
                    <li>take advantage of multiple "moments of truth" to program your subconscious for success </li>
                    <li>recognize the relationship between attitude and health, wealth and well being</li>
                    <li>consistently expect and get the best from others</li>
                    <li>take advantage of the power of hope</li>
                    <li>master a powerful psychosomatic strategy that will make every day a great day </li>
                    <li>restore and maintain balance</li>
                    <li>live a happier, healthier and wealthier life</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Increasing Your Personal Effectiveness: How to Achieve a Competitive Advantage in Tough Times
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <p>This rapidly changing, brave new workplace requires that managers are able to leverage the talents and brain power of their team members. This customized and highly interactive seminar will provide you with practical tips, tools, and fail-safe strategies that will enable you to develop powerful interpersonal skills so that you can maximize your and your team members potential and build a high trust, high morale, peak performance workplace. Prem Kaushal’s electrifying passion and his ability to touch peoples' hearts as well as their heads, has energized thousands of individuals in the India to take action and maximize their personal and professional effectiveness.</p>
                <p>More specifically as a result of attending this customized seminar you will be able to:</p>
                <ul>
                    <li>move yourself into the top 3% of your profession</li>
                    <li>master fail-safe strategies that will increase your and your team members level of self-esteem</li>
                    <li>consistently achieve win-win outcomes</li>
                    <li>prevent others from sabotaging you</li>
                    <li>identify your "fire in the belly" goals</li>
                    <li>transform dreams into reality</li>
                    <li>achieve instantaneous peak energy</li>
                    <li>sustain maximum energy over the long-term </li>
                    <li>never worry again about anything</li>
                    <li>invest in yourself to dramatically increase your income </li>
                    <li>keep yourself on the cutting edge without spending any discretionary time</li>
                    <li>create more value for your employer</li>
                    <li>develop a positive explanatory style</li>
                    <li>live longer, get sick less often and succeed faster</li>
                    <li>focus on achievement instead of the penalties of failure</li>
                    <li>eliminate self-destructive negative behaviors</li>
                    <li>master specific steps to help turn failures into opportunities</li>
                </ul>
                <p>"Your dynamic presentation...left participants feeling good about themselves and gave them sound advice on how to approach their work and their lives in a more positive way."</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Winning Management: Motivating Employees to Achieve Peak Performance During Tough Times
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <p>Research has shown that only 26% of all employees are performing at their full potential. Will that level of performance enable you to thrive in this highly competitive global market place? </p>
                <p>This seminar based on Prem Kaushal’s best selling book, Aap Kar Sakte Hai Chamatkar, will provide you with specific strategies for building an organizational culture that will enable you to achieve dramatic improvements in performance, productivity and profitability. </p>
                <p>You will be provided with proven strategies that will enable you to build a positive organizational culture-a culture that promotes trust and reduces employee defections-so that you will become an "employer of choice" and attract hard-to-find skilled team members and profitable customers like a magnet. And you will discover how to manage like a coach instead of a cop, so that you can empower your team members to take independent actions that help your organization become a "most admired company" where people have fun and get more done. </p>
                <p>This management seminar is full of practical tips, tools, and strategies that you will be able to apply tomorrow and improve performance.</p>
                <p>More specifically as a result of attending this energizing seminar you will be able to:</p>
                <ul>
                    <li>get employees to want to come to work</li>
                    <li>build a fun-high-energy climate without compromising performance</li>
                    <li>discover which one element is missing in most organizations today</li>
                    <li>achieve significant improvements in employee satisfaction</li>
                    <li>discover how managers create behaviors they don't want and what to do about them</li>
                    <li>master specific steps to get the performance you really want</li>
                    <li>discover why most organizational reward systems do not work</li>
                    <li>master five steps to insure that your reward system produces consistent positive performance</li>
                    <li>find out what is a more powerful motivator than money</li>
                    <li>manage like a coach, not a "cop" </li>
                    <li>find out what empowerment really is and how you can use it to increase employee satisfaction</li>
                    <li>promote initiative and calculated risk taking</li>
                    <li>take advantage of the most powerful management principle of all time</li>
                </ul>
                <p>"Your presentation to our team members and the executive team have been extraordinary. You truly have a gift to engage your audience and more importantly get them to take positive actions, which continue to improve our performance and effectivenss."</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">The Motivation Secret</h3>
    </div>
    <div class="panel-body">
        <p>Everyone needs to be motivated. This is especially true for leaders. Learn The Motivation Secret and discover how you can increase your motivation. Use The Motivation Secret to motivate others on your team and in your world. Improve your personal productivity, sense of well-being and ability to serve others well.  Engage your clients and customers in a new way to set yourself apart from the competition. Unleash the potential in your business, government department, institution or community group with team members who are motivated. Get going and enjoy the trip.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Positive Influence - How to Lead Your World</h3>
    </div>
    <div class="panel-body">
        <p>How can you make a difference in your world - no matter who you are and no matter what you do? In this comprehensive presentation, a wide range of topics are covered to make you someone who is influential. Unlike people who control others, people who influence can have a much more profound and long-lasting impact on the lives and futures of others. Learn what it takes to prepare yourself to be a center of influence. Then learn methods to change the course of your history by being a positive force in the lives around you. Increase your effectiveness as a leader or team member, increase your sales, set a new standard in customer service, redefine your relationships, find a new level of personal insight and peace that will free you to be your best self. This powerful presentation is a whole person approach to business and life to become a center of influence where ever you are. Like a pebble tossed into the water - your influence will be felt in the lives of those around you and for generations to come.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">You're Not Just OK - You're Great!</h3>
    </div>
    <div class="panel-body">
        <p>Self-Acceptance. In a world that wants you to be just like someone else - how do you value who you are? Exploring our unique selves as the basis of self-acceptance. Understanding how self-acceptance is the key to your self-confidence and finding the power to make a difference in your world.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Personal Mythology</h3>
    </div>
    <div class="panel-body">
        <p>The people who have been most successful and most satisfied in life have one thing in common. They live out their personal myth. Learn how understand, own and celebrate your personal mythology as a way to maximize your potential as a person in any area of life. Discover the power that comes from seeing your self inside your life story as you experience the chapters of your life. See how a positive personal mythology enables you to handle success and failures in a constructive way. Grow through seeing how your story relates to the needs of those around you. You'll never see yourself in the same way after this seminar.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Turning Pain Into Gain</h3>
    </div>
    <div class="panel-body">
        <p>Learn how to take the challenges, disappointments and failures in life into reasons to succeed. Discover <b>The 15 Ways Pain Leads To Gain</b> if you mine the good from the rocks in your tough experiences.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Making Your Days Count</h3>
    </div>
    <div class="panel-body">
        <p>Most of us will have somewhere between 25,500 to 32,850 days if we live to be 70 to 90 years old. How do you make each day count? What do you need to know so you can live your best life? Learn The 10 Ideas To Shape Your Tomorrow - no matter what day it is or how old you are.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Building Sparkle Into Your Life!</h3>
    </div>
    <div class="panel-body">
        <p>So many people do not just grey on the outside --- they grey on the inside. Many people are old before their time. Practical ways to put the sparkle back into your life. Improve your productivity and effectiveness through new insights into what makes us attractive to others.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Face Your Fears</h3>
    </div>
    <div class="panel-body">
        <p>There are many fears that keep people from reaching their potential. Understanding how fear works and how to face your fear constructively will make you a stronger person and a better employee. Learn The 15 Fears To Face in this seminar.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Enjoying the Trip</h3>
    </div>
    <div class="panel-body">
        <p>Are we there yet? It is not only children who ask that question. How to live in the moment and maximize your energy for living today. Making sense out of your past and anticipating a positive future. How to enjoy your life's story.</p>
    </div>
</div>
