@{
    ViewBag.Title = "Prem Kaushal - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 30%; float: right">
    <img class="img-responsive" src="~/Content/images/DSC_0501.JPG" alt="Prem Kaushal" class="img-rounded"></div>
<div style="width: 70%; float: left">
<h1>About Us <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1>
<hr />
    <blockquote>
        Prem Kaushal is an Indian author and motivational speaker. He has taken various Seminars and given several lectures to various schools and colleges. He is also chief editor of National Hindi monthly magazine ‘Personality India’. He inspires and encourages people, making them realize their true potential. 
    </blockquote>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Quick Facts on Prem <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">


            <blockquote>
                <p><b>Birthdate: </b>22  Nov</p>
                <p><b>Education: </b>B.A. & M.A. (Gonda); L.L.B. (Faizabad)</p>
                <p><b>Pre-author Work Experience: </b>Over 22 Years in Law profession. </p>
                <p><b>Wife: </b>Saroj Kaushal</p>
                <p><b>Son: </b>Subhash Kaushal & Vikas Kaushal</p>
            </blockquote>
        </div>
    </div>
</div>
